<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Evolutionary Algorithms</title>
  <link rel="stylesheet" href="vendors/bulma.min.css">
  <link rel="stylesheet" href="vendors/styles.css">
</head>
<body>
  <div id="app" class="content">
    <div class="processing" v-if="processing">
      <div class="progress">
        <div class="current" :style="{width: `${per}%`}"></div>
      </div>
    </div>
    <h1>Evolutionary Algorithms</h1>
    <p>
      Sergio Andrés Ñustes
      <a href="mailto:infinito84@gmail.com">
        infinito84@gmail.com
      </a>
    </p>
    <form>
      <div class="columns">
        <div class="column">
          <select v-model="selectedProblem">
            <option v-for="(option, $index) in problems" :value="$index">
              Problem = {{ option.name }} 
            </option>
          </select>
          <div class="input">
            <label>dimension = </label>
            <input type="number" v-model="n">
          </div>
          <div class="input">
            <label>decimals = </label>
            <input type="number" v-model="decimals">
          </div>
          <h6>Algorithms</h6>
          <select v-model="selectedAlgorithm">
            <option v-for="(option, $index) in algorithms" :value="$index">
              Algorithm = {{ option.name }}
            </option>
          </select>
          <div class="input">
            <label>generations</label>
            <input type="number" v-model="limit">
          </div>
          <div class="input">
            <label>Pob Size = </label>
            <input type="number" v-model="popSize">
          </div>
          <h6>Selection Functions</h6>
          <select v-model="selectedSelection">
            <option v-for="(option, $index) in selections" :value="$index">
              selectionFn = {{ option.name }}
            </option>
          </select>
          <div class="input" v-if="showK">
            <label>k = </label>
            <input type="number" v-model="k">
          </div>
          <div v-if="showClassic">
            <h6>Crossover Functions</h6>
            <select v-model="selectedCrossover">
              <option v-for="(option, $index) in crossovers" :value="$index">
                crossoverFn = {{ option.name }}
              </option>
            </select>
            <div class="input" v-if="showCuts">
              <label>cuts = </label>
              <input type="number" v-model="cuts">
            </div>
            <div class="input" v-if="showFRate">
              <label>F = </label>
              <input type="number" v-model="F" step="any">
            </div>
            <div class="input" v-if="showFRate">
              <label>rate = </label>
              <input type="number" v-model="rate" step="any">
            </div>
            <div class="input">
              <label>mutateBits </label>
              <input type="number" v-model="mutateBits">
            </div>
            <div class="input">
              <label>xRate </label>
              <input type="number" v-model="mutationRate" step="any">
            </div>
            <h6>Replace Functions</h6>
            <select v-model="selectedReplace">
              <option v-for="(option, $index) in replaces" :value="$index">
                replaceFn = {{ option.name }}
              </option>
            </select>
            <button @click="minimize($event)">Minimize!</button>
          </div>
          <div v-if="showHaea">
            <h6>Add operators</h6>
            <select v-model="selectedOperator">
              <option v-for="(option, $index) in filterOperators" :value="$index">
                {{ option.name }}
              </option>
            </select>
            <div class="input" v-if="showCuts2">
              <label>cuts = </label>
              <input type="number" v-model="cuts">
            </div>
            <div class="input" v-if="showFRate2">
              <label>F = </label>
              <input type="number" v-model="F" step="any">
            </div>
            <div class="input" v-if="showFRate2">
              <label>rate = </label>
              <input type="number" v-model="rate" step="any">
            </div>
            <div class="input" v-if="showMutate">
              <label>mutateBits </label>
              <input type="number" v-model="mutateBits">
            </div>
            <div class="input" v-if="showMutate">
              <label>xRate </label>
              <input type="number" v-model="mutationRate">
            </div>
            <a href="#" class="add" @click="addOperator()">Add</a>
            <div v-if="selectedOperators.length">
              <h6>Operators added: </h6>
              <ul>
                <li v-for="(oper, i) in selectedOperators">
                  {{oper.name}} {{oper.params}}
                  <a href="#" @click="selectedOperators.splice(i, 1)">Remove</a>
                </li>
              </ul>
            </div>
            <button @click="haea($event)" class="btnHaea">Minimize!</button>
          </div>
        </div>
        <div class="column">
          <div class="tabs">
            <ul>
              <li :class="{'is-active': tab ===1}" v-show="problem" @click="tab = 1">
                <a>Problem</a>
              </li>
              <li :class="{'is-active': tab ===2}" v-show="stat" @click="tab = 2">
                <a>Stats</a>
              </li>
            </ul>
          </div>
          <div v-if="problem" v-show="tab === 1">
            <img :src="problem.image" class="image"/>
            <div class="formula">
              <img :src="problem.formula"/>
              <p>Credits: {{problem.credits}}</p>
            </div>
          </div>
          <div v-show="tab === 2">
            <div id="chart"></div>
            <div class="stats">
              <p>Last iteration stats: </p>
              <ul>
                <li>Worst: {{stat.worst}}</li>
                <li>Best: {{stat.best}}</li>
                <li>Mean: {{stat.mean}}</li>
                <li>Media: {{stat.media}}</li>
              </ul>
              <p>Global best: </p>
              <ul>
                <li>Best: {{best}}</li>
                <li>Generation: {{generation}}</li>
              </ul>              
              <p>Time: {{elapseTime}}</p>
              <div v-if="showHaea && bestRates">
                <p>Operators rates:</p>
                <ul>
                  <li v-for="(oper, i) in selectedOperators">
                    {{oper.name}}: {{bestRates[i]}}
                  </li>
                </ul>
              </div>
              <p>Time: {{elapseTime}}</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="vendors/gpu-browser.min.js"></script>
  <script src="vendors/async.min.js"></script>
  <script src="vendors/vue.min.js"></script>
  <!-- Magic Here! -->
  <script type="module" src="src/genetics.js"></script>
  <script src="vendors/plotly-latest.min.js" async></script>
</body>
</html>