<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gradient Algorithms</title>
  <link rel="stylesheet" href="vendors/bulma.min.css">
  <link rel="stylesheet" href="vendors/styles.css">
</head>
<body>
  <div id="app" class="content">
    <div class="processing" v-if="processing">
      <div class="progress">
        <div class="current" :style="{width: `${per}%`}"></div>
      </div>
    </div>
    <h1>Gradient Algorithms</h1>
    <p>
      Sergio Andrés Ñustes
      <a href="mailto:infinito84@gmail.com">
        infinito84@gmail.com
      </a>
    </p>
    <form>
      <div class="columns">
        <div class="column">
          <select v-model="selectedProblem">
            <option v-for="(option, $index) in problems" :value="$index">
              Problem = {{ option.name }} 
            </option>
          </select>
          <div class="input">
            <label>dimension = </label>
            <input type="number" v-model="n">
          </div>
          <div class="input">
            <label>limit = </label>
            <input type="number" v-model="limit">
          </div>
          <div class="input">
            <label>repeat = </label>
            <input type="number" v-model="repeat">
          </div>
          <select v-model="selectedGradient">
            <option v-for="(option, $index) in gradients" :value="$index">
              Gradient = {{ option.name }}
            </option>
          </select>
          <select v-model="selectedDistribution" v-if="showDistribution">
            <option v-for="(option, $index) in distributions" :value="$index">
              Distribution = {{ option.name }}
            </option>
          </select>
          <div class="input" v-if="showSigma">
            <label>sigma = </label>
            <input type="number" v-model="sigma" step="any">
          </div>
          <div class="input" v-if="showAlpha">
            <label>alpha = </label>
            <input type="number" v-model="alpha" step="any">
          </div>
          <div class="input" v-if="showMiu">
            <label>miu = </label>
            <input type="number" v-model="miu" step="any">
          </div>
          <div class="input" v-if="showH">
            <label>h = </label>
            <input type="number" v-model="h" step="any">
          </div>
          <button @click="minimize($event)">Minimize!</button>
        </div>
        <div class="column">
          <div class="tabs">
            <ul>
              <li :class="{'is-active': tab ===1}" v-show="problem" @click="tab = 1">
                <a>Problem</a>
              </li>
              <li :class="{'is-active': tab ===2}" v-show="stat" @click="tab = 2">
                <a>Stats</a>
              </li>
            </ul>
          </div>
          <div v-if="problem" v-show="tab === 1">
            <img :src="problem.image" class="image"/>
            <div class="formula">
              <img :src="problem.formula"/>
              <p>Credits: {{problem.credits}}</p>
            </div>
          </div>
          <div v-show="tab === 2">
            <div id="chart"></div>
            <div class="stats">
              <p>Last iteration stats: </p>
              <ul>
                <li>Worst: {{stat.worst}}</li>
                <li>Best: {{stat.best}}</li>
                <li>Mean: {{stat.mean}}</li>
                <li>Media: {{stat.media}}</li>
              </ul>
              <p>Time: {{elapseTime}}</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="vendors/gpu-browser.min.js"></script>
  <script src="vendors/async.min.js"></script>
  <script src="vendors/vue.min.js"></script>
  <!-- Magic Here! -->
  <script type="module" src="src/gradients.js"></script>
  <script src="vendors/plotly-latest.min.js" async></script>
</body>
</html>